body {
  background: #010001;
  color: #fff;
  margin: 0;
  padding-top: 53px;
  font-family: 'Roboto', sans-serif;
}

.header {
  max-width: 1230px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.item-link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
  line-height: 14px;
}

.secondary-nav .item-link {
  color: #808080;
}

.main {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 26px;
  margin-top: 0;
}

.description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  margin: auto;
  text-transform: lowercase;
  max-width: 268px;
}

.description:after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 26px;
}

.video {
  max-width: 1230px;
  width: 90%;
  margin: auto;
  height: 750px;
}

.features {
  position: relative;
  max-width: 1230px;
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
}

.features-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  /* or 34px */
  text-transform: uppercase;
  margin-bottom: 45px;
}

.table {
  margin-bottom: 200px;
}

.table-colum {
  width: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 179.69%;
  /* or 32px */
}

.features-text {
  max-width: 490px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}

.rocket {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 10;
  max-width: 300px;
}

.footer {
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav .item-lick {
  font-size: 18px;
  line-height: 21px;
}

.footer .logo {
  margin-bottom: 43px;
}

.footer-nav {
  margin-bottom: 28px;
}

.footer-text {
  margin-top: 0;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  margin-bottom: 30px;
}

.footer-link {
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  text-decoration: none;
}

.button {
  padding: 20px;
  color: #fff;
  min-width: 260px;
  min-height: 60px;
  text-align: center;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  text-decoration: none;
}

@media (max-width: 960px) {
  .rocket {
    max-width: 230px;
  }

  .table-colum {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header .logo {
    margin-bottom: 20px;
  }

  .header .main-nav {
    margin-bottom: 20px;
  }

  .rocket {
    max-width: 160px;
  }

  .video {
    width: 100%;

  }
}

@media (max-width: 576px) {
  .rocket {
    position: static;
    margin-bottom: 30px;
    display: flex;
    margin: auto;
  }

  .table {
    margin-bottom: 0;
  }

  .table-colum {
    font-size: 14px;
    width: 150px;
  }

  .footer-list .list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer-nav .item {
    margin-bottom: 10px;
  }

  .footer {
    text-align: center;
  }

  .main {
    padding-top: 50px;
  }

  .features {
    padding-bottom: 0;
  }

  .features-title {
    text-align: center;
    margin-top: 25px;
  }

  .features-text {
    text-align: center;
  }
}